header {
    width: 100%;
    height: 100px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    color: aliceblue;
}
img.icon {
    border-radius: 20px;
    height: 100px;
}
div.html {
    display: none;
    background-color: lightgray;
}