header {
    width: 90%;
    height: 100px;
    position: relative;
    left: 5%;
    background-color: black;
    border-radius: 20px;
    display: flex;
}
img.icon {
    border-radius: 20px;
    height: 100px;
}
button.btn-up {
    width: 64px;
    height: 64px;
    bottom: 8px;
    right: 8px;
    position: sticky;
}