body {
    background: #00FF00;
}
div.display {
    width: 315px;
    margin: 0 auto;
    text-align: center;
}

img.preview {
    height: 300px;
    width: 225px;
    position: relative;
    top: 8px;
    left: 82px;
    animation-name: move;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
}

div.output {
    background: white;
    border: gray solid 8px;
    width: 300px;
    height: 82px;
    position: relative;
    top: 8px;
    white-space: pre-wrap;
    color: black;
    border-radius: 12px;
    font-family: 'DotGothic16', sans-serif;
    font-size: 16px;
}
p.ver {
    position: absolute;
    bottom: 0px;
}
div.system {
    margin-top: 24px;
}
textarea.input {
    font-family: 'DotGothic16', sans-serif;
}
@keyframes move {
    0% {
        top: 2px;
    }
    10% {
        top: 8px;
    }
    20% {
        top: 2px;
    }
    30% {
        top: 8px;
    }
    40% {
        top: 2px;
    }
    50% {
        top: 8px;
    }
    60% {
        top: 2px;
    }
    70% {
        top: 8px;
    }
    80% {
        top: 2px;
    }
    90% {
        top: 8px;
    }
    100% {
        top: 2px;
    }
}
div.loaded {
    display: none;
}
div.loader {
    width: 100%;
    height: 100dvh;
    background: black;
    display: block;
}
img.loader {
    width: 160px;
    animation-name: loader;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(360deg);
    }
    30% {
        top: 18px
    }
    35% {
        top: 18px;
        transform: rotate(0deg);
    }
    60% {
        top: 18px;
        transform: rotate(360deg);
    }
    65% {
        top: 0px;
    }
    70% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(360deg);
    }
    85% {
        top: 5px;
    }
    95% {
        top: -5px;
    }
    100% {
        top: 0px;
    }
}