body {
    background: #00FF00;
}
div.display {
    width: 315px;
    margin: 0 auto;
    text-align: center;
}

img.preview {
    height: 128px;
    width: 96px;
    position: relative;
    top: 72px;
    left: 82px;
    animation-name: move;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
}

div.output {
    background: white;
    border: gray solid 8px;
    width: 300px;
    height: 128px;
    position: relative;
    top: 64px;
    white-space: pre-wrap;
    color: black;
    border-radius: 12px;
    font-family: 'DotGothic16', sans-serif;
    font-size: 24px;
}

div.system {
    margin-top: 80px;
}
textarea.input {
    font-family: 'DotGothic16', sans-serif;
}
@keyframes move {
    0% {
        top: 72px;
    }
    10% {
        top: 76px;
    }
    20% {
        top: 72px;
    }
    30% {
        top: 76px;
    }
    40% {
        top: 72px
    }
    50% {
        top: 76px;
    }
    60% {
        top: 72px;
    }
    70% {
        top: 76px;
    }
    80% {
        top: 72px;
    }
    90% {
        top: 76px;
    }
    100% {
        top: 72px;
    }
}