body {
 font-family: Arial, sans-serif;
 text-align: center;
 margin: 20px;
}
.cover {
 width: 96%;
 aspect-ratio: 1 / 1;
 -o-object-fit: cover;
    object-fit: cover;
 border-radius: 32px;
 margin: 20px auto;
 outline-offset: -8px;
 box-shadow: 0 0 0 4px rgba(128, 128, 128, 0.6);
 outline: gray solid 8px;
}
.controls {
 margin-top: 20px;
}
.controls button {
 margin: 5px;
 padding: 10px 20px;
}
#file-list {
 margin-top: 20px;
 text-align: left;
 display: inline-block;
 width: 80%;
}
.file-list-name {
 width: 96%;
 margin: 2px auto;
 background: black;
 border-radius: 8px;
 color: white;
 font-weight: 900;
}