div.loader {
    width: 100%;
    height: 100vh;
    background-color: lightgoldenrodyellow;
    display: block;
}
img.loader {
    width: 120px;
    position: relative;
    top: 40%;
    margin: 0 auto;
    animation: 3s linear infinite rotation;
}
@keyframes rotation {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}