body {
    margin-top: 0;
    margin-bottom: 0;
    background: gray;
}

div.load {
    width: 100%;
    height: 100dvh;
    background: black;
    position: absolute;
    color: white;
    text-align: center;
    display: block;
}

p.comment-start {
    position: absolute;
    bottom: 148px;
    right: 64px;
}

div.display {
    width: 100%;
    height: 100dvh;
    background: lightgray;
    text-align: center;
}

img.entity {
    width: 96px;
    height: 128px;
    position: absolute;
    bottom: 12px;
    right: 20px;
    color: skyblue;
}
div.content {
    width: 290px;
    height: 240px;
    background: gold;
    margin: 0 auto;
    border: orange solid 5px;
    border-radius: 50px;
}

div.btn {
    width: 280px;
    height: 200px;
    background: black;
    margin: 0 auto;
    border: white solid 5px;
    border-radius: 30px;
    margin-top: 12px;
}