body {
    min-width: 360px;
}
div.base {
    width: 320px;
    height: 480px;
    background-color: lightcyan;
    margin: 0 auto;
    border-radius: 20px;
}
div.display {
    width: 300px;
    height: 200px;
    background: lightgrey;
    margin: 0 auto;
    position: relative;
    top: 4px;
}
div.control {
    width: 300px;
    height: 240px;
    border-radius: 20px;
    background-color: gray;
    margin: 0 auto;
}
img.entity0 {
    height: 72px;
    position: relative;
    top: 0px;
    left: 8px;
}

img.entity1 {
    height: 72px;
    position: relative;
    top: 0px;
    left: 142px;
}

div.text {
    background: black;
    color: white;
    width: 284px;
    height: 64px;
    position: relative;
    top: -12px;
    margin: 0 auto;
    overflow-wrap: break-word;
}

button.btn {
    width: 120px;
    height: 64px;
    position: relative;
    top: 8px;
    left: 120px;
}